body {
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

.links {
    color: inherit;
    text-decoration: none;
    position: absolute;
    top:  0;
    left:  0;
    width: 100%;
    height: 100%;
}

#circuitsList {
}

#circuitsSlots {
    display: flex;
    flex-direction: column;
    align-items: center;
}